.header__bar{
    background-color: aqua;
}
.header__block{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.icon__bar{
    font-size: 2rem;
}
.header__nav{
    background-color: blueviolet;
    
}
.nav__level1{
    margin-bottom: 0;
    padding-left: 0;
}
.nav-li{
    list-style: none;
}